{% extends "::base.html.twig" %}

{% block title %}HackProxyBundle:GameResults:getFullGameResult{% endblock %}

{% block body %}
<h1>Welcome to the GameResults:getFullGameResult page</h1>
{% endblock %}
